@model simpleCommerce_Models.Category
@{
    Layout = "_AdminPanelLayout";
}



<div class="users-table table-wrapper white-block container-fluid">
    <div class="form-group row py-2">
        <form method="post">
            <label asp-for="Name"></label>
            <input asp-for="Name" /><br/>
            <label asp-for="FilterName"></label>
            <input asp-for="FilterName" />
            <hr />
            <button class="addButton" type ="submit">Save</button>
        </form>
    </div>
</div>
