@page
@model RegisterModel
  <link rel="stylesheet" href="~/admin/css/style.min.css">
  <main class="page-center">
    <article class="sign-up">
      <h1 class="sign-up__title">Welcome!</h1>
      <p class="sign-up__subtitle">Sign Up</p>
      <form id="account" method="post" class="sign-up-form form">
        <label class="form-label-wrapper">
          <label asp-for="Input.Email" class="form-label"></label>
          <input asp-for="Input.Email" class="form-input" autocomplete="username" aria-required="true" placeholder="Enter your email" />
          <span asp-validation-for="Input.Email" class="text-danger"></span>
        </label>
        <label class="form-label-wrapper">
            <label asp-for="Input.Password" class="form-label"></label>
            <input asp-for="Input.Password" class="form-input" autocomplete="new-password" aria-required="true" placeholder="Enter your password" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
          </label>
        <label class="form-label-wrapper">
           <label asp-for="Input.ConfirmPassword"class="form-label"></label>
            <input asp-for="Input.ConfirmPassword" class="form-input" autocomplete="new-password" aria-required="true" placeholder="Enter your password again"/>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </label>
        <button type="submit" id="registerSubmit" class="form-btn primary-default-btn transparent-btn">Sign Up</button>
        <hr/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <a class="form-btn secondary-default-btn transparent-btn" href="#"><img src="https://img.icons8.com/color/16/000000/google-logo.png"/>&nbsp; Signup Using Google</a>
      </form>
    </article>
  </main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
